# Data Mining Project

Authors:
    Di Nosse Daniele Maria,
    Lasala Angelo,
    Paradiso Raffaele

!pip install outlier_utils

In [ ]:
pip install outlier_utils

Moduli da importare

In [1]:
%matplotlib inline
import math
import re # regular expression
import numpy as np
import pandas as pd
import scipy
from scipy.spatial.distance import pdist, squareform
import matplotlib.pyplot as plt
from matplotlib.lines import Line2D
from outliers import smirnov_grubbs as grubbs
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.cluster import DBSCAN

# Operazioni base ed operazioni preliminari

Importare il DataFrame

In [2]:
df = pd.read_csv('Train+Test.csv') #(delimiter='\t')
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,27.0,Yes,Travel_Frequently,763,Sales,15,2,Medical,1,Male,...,4,80.0,2,7,1.0,2,2.0,2,2,2
1,30.0,Yes,Travel_Rarely,1079,Sales,16,4,Marketing,1,Male,...,1,NaN,3,10,2.0,3,8.0,0,0,0
2,56.0,No,Non-Travel,150,Research & Development,2,4,Technical Degree,4,Male,...,3,80.0,1,12,2.0,2,13.0,3,1,4
3,41.0,Yes,NaN,359,Human Resources,18,5,Human Resources,4,Male,...,3,80.0,0,2,4.0,3,3.0,0,0,0
4,42.0,No,NaN,642,Research & Development,1,3,Life Sciences,4,Male,...,1,NaN,1,12,6.0,3,5.0,3,1,0

Operazioni base su DataFrame

In [ ]:
# print(df.head(3)) # Print prime 3 righe
# print(df.tail(3)) # Print ultime 3 righe
# print(df.columns) # Print attribute
# print(df['Age'][0:5]) # Print una sola colonna e prime 5 righe
# print(df[['Age', 'JobLevel']]) # Print piÃ¹ colonne
# print(df.iloc[1:4]) # Stampa intere righe (ultima esclusa)
# print(df.iloc[1,1]) # Stampa un elemento preciso in questo caso riga 1 colonna 1
# print(df.loc[df['Attrition'] == 'Yes']) # Finding a specific value for the attribute in a dataset
# print(df.loc[df['Attrition'].str.contains('Yes|no', flags=re.I, regex=True)])
# print(df.dtypes) # Stampa il tipo degli attributi
# print(df.shape) # Shape del DataFrame
# print(df.sort_values(['Age', 'YearsWithCurrManager'], ascending=[1,0])) #sorted data (NaN in coda)
# print(df.describe()) # print count,mean,std,min,25%,50%,75%,max
# print(df.loc[~df['MaritalStatus'].str.contains('Single')]) # Drop tutte le righe con single in marital status
# print(df['Age'].unique()) # valori non ripetuti attributo "Age"
# print(df.groupby(['Age']).mean().sort_values('YearsWithCurrManager', ascending=False))# valori divisi in gruppi per etÃ 

# df['T'] = df[''] + df[''] # Addizionare colonne
# df['T'] = df.iloc[:, i:j].sum(axis=1) #axis=1 somma orizzontalmente, =0 verticalmente
# df.to_csv = ('.csv', index=False)
# df.to_excel = ('.xlsx', index=False)
# df.to_csv = ('.txt', index=False, sep='\t')

#Stampa minimo e massimo dei valori nelle singole colonne e i loro range:
# 1Â° modo
# l = [0,3,5,6,8,10,11,12,14,16,17,18,21,22,23,24,25,26,27,28,29,30,31,32]
# for i in range(len(l)):
#    print(f' {l[i]} : min e max di {df.columns[l[i]]} sono {min(df.values[:,l[i]])} e
#                     {max(df.values[:,l[i]])}. Range -->
#                     {max(df.values[:,l[i]])-min(df.values[:,l[i]])}.')

# 2Â° modo
# print(df.min())
# print(numeric.max() - numeric.min())
# print((numeric.max() - numeric.min()).idxmax())
# print(df[(numeric.max() - numeric.min()).idxmax()])

# etamin = (df[(df['Age'] > 17) & (df['Age'] < 19)]) # Solo le righe con valori di etÃ  >17 & < 19
# etamin = etamin.reset_index(drop=True) # Resetta indici

#conoscere i valori max e min del guadagno mensile di gruppi organizzati per relazione coniugale
# print(df.groupby(['MaritalStatus'], sort=False)['MonthlyIncome'].max())
# print(df.groupby(['MaritalStatus'], sort=False)['MonthlyIncome'].min())

## Statistica

In [3]:
df.replace({'EnvironmentSatisfaction':{1 : 'Low', 2 : 'Medium',
                                       3 : 'High', 4 : 'Very High'}},inplace=True)
df.replace({'JobInvolvement':{1 : 'Low', 2 : 'Medium',
                              3 : 'High', 4 : 'Very High'}},inplace=True)
df.replace({'JobSatisfaction':{1 : 'Low', 2 : 'Medium',
                               3 : 'High', 4 : 'Very High'}},inplace=True)
df.replace({'RelationshipSatisfaction':{1 : 'Low', 2 : 'Medium',
                                        3 : 'High', 4 : 'Very High'}},inplace=True)
df.replace({'Education':{1 : 'Below College', 2 : 'College',
                         3 : 'Bachelor', 4 : 'Master', 5 : 'Doctor'}},inplace=True)
df.replace({'WorkLifeBalance':{1 : 'Bad', 2 : 'Good',
                               3 : 'Better', 4 : 'Best'}},inplace=True)
df.replace({'PerformanceRating':{1 : 'Low', 2 : 'Good',
                                 3 : 'Excellent', 4 : 'Outstanding'}},inplace=True)

# # joblevel valori numerici ma chiaramente categorici,
# non abbiamo ulteriori informazioni, chiediamo aiuto, per piacere rispondete. stop.
# # totalworkingyear non ha molto senso a nostro avviso
# cioÃ¨ a 18 anni non puoi aver lavorato una media di 8 anni(QUALITÃ€ BASSA)

df.replace({'JobLevel':{1 : '1', 2 : '2', 3 : '3', 4 : '4', 5 : '5'}},inplace=True)
df.to_excel('nuovo.xlsx') # NUOVO DATA FRAME MODIFICATO

categorical = df.select_dtypes(exclude = 'number') # SELEZIONA SOLO LE COLONNE CATEGORICHE
numeric = df.select_dtypes('number') # SELEZIONA SOLO LE COLONNE NUMERICHE
# print(categorical.iloc[0]) # PRINT DELLA PRIMA RIGA DI CATEGORICAL

# Missing Values

Nell'attributo Business Travel c'Ã¨ una frequenza di NaN pari al circa 9%. Siccome la granulositÃ  dell'attributo ricopre in maniera completa lo spettro delle classi plausibilmente attribuibili a tale attributo abbiamo deciso di valutare se ci fosse correlazione con gli altri attributi presenti nel data frame. Per quanto riguarda quelli numerici, abbiamo utilizzato gli scatter plot, mentre per quelli nominali abbiamo eseguito il test di indipendenza del chi quadro. In entrambi i casi non si evincono correlazioni significative (p value > 0.05 sempre). Di conseguenza DROP THE COLUMN

In [ ]:
print(categorical.isnull().sum())
print(numeric.isnull().sum())

In [ ]:
for index, columns in categorical.iteritems():
    if index != 'BusinessTravel':
        ct = pd.crosstab(categorical['BusinessTravel'], categorical[index], margins=True)
        obs = np.array([ct.iloc[0][0:4].values, ct.iloc[1][0:4].values])
        print('BusinessTravel', index, 'p value is', scipy.stats.chi2_contingency(obs)[0:3][1])

In [4]:
###########statistica = df.describe()
#############statistica.to_excel('statistica.xlsx') #esporta la tabella in excel
df = df.drop(columns=['StandardHours']) # Rimuovere colonne
df = df.drop(columns=['Over18'])
df = df.drop(columns=['BusinessTravel'])
############p = df['TrainingTimesLastYear'].value_counts(normalize=True) * 100 # percentntuale degli attributi categorici

Gestiamo i restanti missing values per gli attributi categorici: Gender e PerformanceRating.

Per quanto riguarda PerformanceRating, aggiungiamo una nuova classe 'MISSING', poichÃ© abbiamo notato che la granulositÃ  dell'attributo non ricopre tutto lo spettro plausibile. I valori di MISSING presupponiamo possano appartenere ad una classe di ordine inferiore a Excellent

In [24]:
for index in df['PerformanceRating']:
    if index != 'Low' or index !='Good' or index !='Excellent' or index !='Outstanding':
        df['PerformanceRating'][index] = 'MISSING'
print(df['PerformanceRating'])

0         Excellent
1       Outstanding
2       Outstanding
3         Excellent
4       Outstanding
           ...
1465      Excellent
1466      Excellent
1467        peppino
1468      Excellent
1469            NaN
Name: PerformanceRating, Length: 1470, dtype: object

In [17]:
df.isnull().sum()

Age                         212
Attrition                     0
DailyRate                     0
Department                    0
DistanceFromHome              0
Education                     0
EducationField                0
EnvironmentSatisfaction       0
Gender                       75
HourlyRate                    0
JobInvolvement                0
JobLevel                      0
JobRole                       0
JobSatisfaction               0
MaritalStatus                 0
MonthlyIncome               280
MonthlyRate                   0
NumCompaniesWorked            0
OverTime                      0
PercentSalaryHike             0
PerformanceRating           171
RelationshipSatisfaction      0
StockOptionLevel              0
TotalWorkingYears             0
TrainingTimesLastYear       292
WorkLifeBalance               0
YearsAtCompany               74
YearsInCurrentRole            0
YearsSinceLastPromotion       0
YearsWithCurrManager          0
dtype: int64

Istogrammi

In [ ]:
plt.hist(df.values[:,32],bins = 5, edgecolor='k') #edge color,hist separati da linea NEGRA
plt.xticks(np.arange(0,20.4, 3.4))
plt.xlabel('Years With Curr Manager ')
plt.ylabel('Number of employes')

# handles=[Line2D([0],[0],marker='o',color='w',linestyle='',
#                       markerfacecolor='w'),Line2D([0],[0],marker='o',color='w',
#                       markerfacecolor='w'),Line2D([0],[0],marker='o',color='w',
#                       markerfacecolor='w'),Line2D([0],[0],marker='o',color='w',
#                       markerfacecolor='w')]

# labels=['1 Low','2 Medium','3 High','4 Very high']
# plt.legend(handles,labels, edgecolor='w', loc='upper left')

#sub plot organizzati in matrici, una sola figura piÃ¹ plot
# figure, axes = plt.subplots(4, 4)
# # df['Age'].plot(ax=axes[0])
# for i in range(0,4):
#     for j in range(0,4):
#         df['Age'].plot(ax=axes[i,j])

#bins = np.arange(x0, x1 + 1.5) - 0.5 # per centrare i bin
# plt.savefig("figure.png") # save as png

Trasformazione dei dati numerici in categorici (per quelli che lo prevedono)

In [ ]:
pd.crosstab(df.Attrition, df.JobSatisfaction, margins=True)

In [ ]:
ct = pd.crosstab(df.Attrition, df.JobSatisfaction, margins=True)

print(ct,ct1)
# obs = np.array([ct.iloc[0][0:4].values, ct.iloc[1][0:4].values])
# print(scipy.stats.chi2_contingency(obs)[0:3])

# ct = pd.crosstab(df.JobSatisfaction,df.Attrition, margins=True)
# obs = np.array([ct.iloc[0][0:4].values, ct.iloc[1][0:4].values])
# print(scipy.stats.chi2_contingency(obs)[0:3]

# for index, columns in categorical.iteritems():
#     for index1, columns1 in categorical.iteritems():
#         if index1 != index and 'Department' != 'EducationField':
#             ct = pd.crosstab(categorical[index], categorical[index1], margins=True)
#             obs = np.array([ct.iloc[0][0:4].values, ct.iloc[1][0:4].values])
#             print(index, index1, 'p value is', scipy.stats.chi2_contingency(obs)[0:3][1])
        
# ct = pd.crosstab(categorical['Department'], categorical['EducationField'], margins=True)
# obs = np.array([ct.iloc[0][0:5], ct.iloc[1][0:5].values])
# print('Department', 'EducationField', 'p value is', scipy.stats.chi2_contingency(obs)[0:3][1])

In [ ]:


# ct = pd.crosstab(categorical.BusinessTravel, categorical.JobSatisfaction, margins=True)
# row_sum = ct.iloc[0:3,4].values
# print(row_sum)
# exp = []
# for j in range(3):
#     for val in ct.iloc[3,0:4].values:
#         exp.append(val * row_sum[j] / ct.loc['All', 'All'])
# print(exp)
# obs = []
# for j in range(3):
#     for val in ct.iloc[3,0:4].values:
#         obs.append(val)

# obs = np.array(obs)
# exp = np.array(exp)
# chisquare = np.sum((obs - exp)**2/exp)
# print(chisquare)

# Missing Values

Nuovo dataframe categorico avendo sostituito i valori NaN con MISSING. Infatti, non Ã¨ stato nemmeno possibile sostituire i valori assenti con la classe relativa alla frequenza maggiormente presente poichÃ© la frequenza dei NaN Ã¨ comparabile con la frequenza degli attributi.

In [ ]:
categorical = categorical.fillna('MISSING')

# Outliers

Ricerca degli outliers col pacchetto importato sopra. Utilizzazione del Grab Test. Bisogna capire bene come scegliere il valore di alpha

In [ ]:
# for index, columns in numeric.iteritems():
#     outremove = grubbs.test(numeric[index], alpha=0.05)
#     print(numeric.shape, outremove.shape)

Ricerca delgi outliers con DBSCAN

In [ ]:
scaler = MinMaxScaler()
X = scaler.fit_transform(numeric)
dbscan = DBSCAN(eps=1.02, min_samples=5)
dbscan.fit(X)
print(np.unique(dbscan.labels_, return_counts=True))
plt.scatter(numeric['Age'], numeric['YearsInCurrentRole'], c=dbscan.labels_)
plt.show()

dist = pdist(X, 'euclidean') #pair wise distance
dist = squareform(dist) #distance matrix given the vector dist

k = 5
kth_distances = list()
for d in dist:
    index_kth_distance = np.argsort(d)[k]
    kth_distances.append(d[index_kth_distance])

plt.plot(range(0, len(kth_distances)), sorted(kth_distances))
plt.ylabel('dist from %sth neighbor' %k)
plt.xlabel('sorted distances')
plt.show()

#Correlazione

In [ ]:
#-----------------------------MATRICE CORRELLAZIONE-----------------------------
corrmatrix = df.corr()
print(corrmatrix)
for index in range(len(corrmatrix.columns)): # Iteration for each columns
    vecmax = corrmatrix.iloc[index]
    vecmax2 = [i for i in vecmax if i < 1]
    print(max(vecmax2))
corrmatrix.to_excel('MatriceDiCorrelazione.xlsx') # ESPORTA MATRICE CORRELAZIONE
pd.plotting.scatter_matrix(df.iloc[:,:], diagonal='kde') # PLOT MATRICE SCATTER
plt.show()

# Viasulizzazione dei dati

Scatter plot

In [ ]:
for index_n, columns in numeric.iteritems():
    if index_n !='Age':
        for index, columns in categorical.iteritems():
            for c in categorical[index].unique():
                    dfc = df[df[index] == c]
                    plt.scatter(dfc['Age'], dfc[index_n], label=c)
            plt.legend(bbox_to_anchor=(1,1))
            plt.xlabel('Age')
            plt.title('Attribute: '+index)
            plt.ylabel(index_n)
            plt.show()
for index, columns in categorical.iteritems():
    for c in categorical[index].unique():
        dfc = df[df[index] == c]
        plt.scatter(dfc['YearsInCurrentRole'], dfc['YearsWithCurrManager'], label=c)
    plt.legend(bbox_to_anchor=(1,1))
    plt.show()


Boxplot, ovvero uno dei metodi che abbiamo per visualizzare i dati per singoli attributi ed identificare gli outliers

In [ ]:
for element in numeric.columns:
    plt.figure()
    df.boxplot(element)

Principal Component Analysis.
Siccome la somma delle frazioni della varianza conservata per le prime 3 componenti principali non arriva nemmeno a 0.5 (circa 0.4), abbiamo concluso che tale approccio non Ã¨ utilizzabile per il nostro dataframe

In [ ]:
fig=plt.figure()
ax=fig.add_subplot(111,projection='3d')
x0 = numeric.values
x1 = StandardScaler().fit_transform(x0)
pca = PCA(n_components = 3)
principalComponents = pca.fit_transform(x1)
principalDf = pd.DataFrame(data = principalComponents, columns = ['principal component 1',
                                            'principal component 2', 'principal component 3'])
finalDf = pd.concat([principalDf, df[['Attrition']]], axis = 1)
targets = ['Yes', 'No']
colors = ['r','b']
for target, color in zip(targets,colors):
    indicesToKeep = finalDf['Attrition'] == target
    ax.scatter(finalDf.loc[indicesToKeep, 'principal component 1'],
                finalDf.loc[indicesToKeep, 'principal component 2'],
                finalDf.loc[indicesToKeep, 'principal component 3'],
                c=color, s=50)
plt.legend(targets)
print(pca.explained_variance_ratio_)

In [ ]:
p = df['TrainingTimesLastYear'].value_counts(normalize=True) * 100 # percent. degli attributi categ.